.create-container {
    background: #034979;
    background: linear-gradient(180deg, rgba(3, 73, 121, 1) 0%, rgba(1, 95, 142, 1) 50%, rgba(1, 108, 150, 1) 75%, rgba(3, 133, 173, 1) 100%);
}

.create-container .row {
    display: flex;
    align-items: stretch;
}

.create-container .col-md-6:first-child {
    display: flex;
}

.create-container .text-container {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1;
}

.create-container .image-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.create-container .image-container img {
    width: auto;
    height: calc(100% - 0px);
    max-height: 250px;
    object-fit: contain;
}

.text-container p {
    padding-top: 15px;
}