.signin-page-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container {
  background: linear-gradient(180deg, rgba(2, 74, 122, 1) 0%, rgba(3, 132, 172, 1) 100%);
  border-radius: 20px;
  max-width: 90%;
  width: 800px;
  margin: 0 auto;
  word-wrap: break-word;
}
