.dashboard-container {
    background: #012F63;
    background: linear-gradient(180deg, rgba(1, 47, 99, 1) 0%, rgba(10, 75, 127, 1) 100%);
    flex: 1;
}

.model-container {
    background: #00376A;
    background: linear-gradient(180deg, rgba(0, 55, 106, 1) 0%, rgba(1, 54, 106, 1) 50%, rgba(1, 54, 106, 1) 100%);
    border: 3px solid #0E4175 !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.model-container img {
    border-radius: 5px;
}